body {
    background-color: honeydew;
}

.greetings-text {
    text-shadow: 0 1px 1px royalblue;
}

p.greetings-text {
    color: green;
}

.contact-avatar {
    max-width: 3em;
}

.main-page-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    max-width: 25em;
}

.dotted-hr {
    border: 0.2em dashed gray;
}

.username {
    color: orangered;
    text-shadow: 0 1px 5px red;
}